$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Nunito Sans", sans-serif; 
$headingFont: "Poppins", sans-serif;

html {
  scroll-padding-top: 60px;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headingFont;
}

.is-sticky {
  position: sticky;
  top: 0;
}